apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: zybes-ingress
  annotations:
    kubernetes.io/ingress.class: "traefik"
spec:
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              serviceName: zybes-svc
              servicePort: 80
