apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: zybes-ingress
  namespace: default
  annotations:
    kubernetes.io/ingress.class: traefik
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  tls:
    - secretName: app-rasp-zynomi-com-tls
      hosts:
        - app.rasp.zynomi.com
  rules:
    - host: app.rasp.zynomi.com
      http:
        paths:
          - path: /
            backend:
              serviceName: zybes-svc
              servicePort: 80
