---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: k3s-app-rasp-zynomi-com
  namespace: cert-manager
spec:
  secretName: k3s-app-rasp-zynomi-com-tls
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: app.rasp.zynomi.com
  dnsNames:
    - app.rasp.zynomi.com
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: ingressroutetls
  namespace: cert-manager
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`app.rasp.zynomi.com`)
      kind: Rule
      services:
        - name: zybes-svc
          port: 80
  tls:
    secretName: k3s-app-rasp-zynomi-com-tls
    certResolver: default
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: ingressroute
  namespace: cert-manager
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`app.rasp.zynomi.com`)
      kind: Rule
      services:
        - name: zybes-svc
          port: 80
      middlewares:
        - name: https-redirect
